<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A simple web app for signing in and signing up.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> Welcome Home</h1>

        <button type="submit"> <a href="/signin">Sign In</a></button>
        <button type="submit"> <a href="/signup">Sign Up</a></button>

    </body>
</html>